blinker==1.8.2 ; python_version >= "3.12"
certifi==2024.8.30 ; python_version >= "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.12"
click==8.1.7 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
dash-auth==2.3.0 ; python_version >= "3.12"
dash-core-components==2.0.0 ; python_version >= "3.12"
dash-html-components==2.0.0 ; python_version >= "3.12"
dash-table==5.0.0 ; python_version >= "3.12"
dash==2.18.1 ; python_version >= "3.12"
flask==3.0.3 ; python_version >= "3.12"
gunicorn==23.0.0 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
importlib-metadata==8.5.0 ; python_version >= "3.12"
itsdangerous==2.2.0 ; python_version >= "3.12"
jinja2==3.1.4 ; python_version >= "3.12"
markupsafe==2.1.5 ; python_version >= "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.12"
numpy==2.1.2 ; python_version >= "3.12"
packaging==24.1 ; python_version >= "3.12"
pandas==2.2.3 ; python_version >= "3.12"
plotly==5.24.1 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
pytz==2024.2 ; python_version >= "3.12"
requests==2.32.3 ; python_version >= "3.12"
retrying==1.3.4 ; python_version >= "3.12"
setuptools==75.1.0 ; python_version >= "3.12"
six==1.16.0 ; python_version >= "3.12"
tenacity==9.0.0 ; python_version >= "3.12"
typing-extensions==4.12.2 ; python_version >= "3.12"
tzdata==2024.2 ; python_version >= "3.12"
urllib3==2.2.3 ; python_version >= "3.12"
werkzeug==3.0.4 ; python_version >= "3.12"
zipp==3.20.2 ; python_version >= "3.12"
